* {
    font-family: 'Roboto', sans-serif;
}

.overlay {
    background: #ffffff;
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 5%;
}

.face {
    width: 640px;
    height: 480px;
    box-shadow: rgb(170, 170, 170) 0 0 15px;
}

.toasted {
    position: fixed;
    width: 100%;
}

.false-hide {
    height: 1px;
    width: 1px;
}

.section-features {
    padding: 4.5rem .5rem;
}

.flash {
    margin: 0 auto;
    z-index: 9999;
    position: fixed;
    width: 100%;
    top: 0;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;

    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.camera {
    position: relative;
}

.button-camera {
    position: absolute;
    background: transparent;
    border: 0;
    padding: 10px;
    cursor: pointer;
    right: 100px;
}

@mixin overlay {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 640px;
    min-height: 480px;
    z-index: 300000;
    text-align: center;
}

.overlay-1 {
    @include overlay;

    background-image: url("/img/1.png");
}

.overlay-2 {
    @include overlay;

    background-image: url("/img/3.png");
}

.overlay-3 {
    @include overlay;

    background-image: url("/img/6.png");
}

.overlay-4 {
    @include overlay;

    background-image: url("/img/7.png");
}

/* #center-img {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
} */

#gif-image {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    max-width: 320px;
    max-height: 240px;
    z-index: 300000;
    text-align: center;
    right: 2px;
    top: 527px;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #gif-image {
        display: none;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    #gif-image {
        display: none;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    #gif-image {
        display: inherit;
        right: -58px;
        bottom: 43.8%;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1200px) {
    #gif-image {
        display: inherit;
        right: -1px;
        bottom: -105px;
    }
}

/* Large screens ----------- */
@media only screen and (min-width: 1400px) {
    #gif-image {
        display: inherit;
        right: 1px;
        bottom: 158px;
    }
}

.xappia-img {
    
}

.xappia-img:hover {
    cursor: pointer;
}

.franja-container {
    position: relative;
    margin: 20px;
}

.franja-container img {
    width: 100%;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.gif-image {
    display: block;
    position: absolute;
    background-color: blue;
    top: 42.58%;
    left: 35.7%;
    width: 28.2% !important;
    height: 17.3%;
}
