<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <link rel=" apple-touch-icon " sizes="57x57 " href="/apple-icon-57x57.png ">
  <link rel="apple-touch-icon " sizes="60x60 " href="/apple-icon-60x60.png ">
  <link rel="apple-touch-icon " sizes="72x72 " href="/apple-icon-72x72.png ">
  <link rel="apple-touch-icon " sizes="76x76 " href="/apple-icon-76x76.png ">
  <link rel="apple-touch-icon " sizes="114x114 " href="/apple-icon-114x114.png ">
  <link rel="apple-touch-icon " sizes="120x120 " href="/apple-icon-120x120.png ">
  <link rel="apple-touch-icon " sizes="144x144 " href="/apple-icon-144x144.png ">
  <link rel="apple-touch-icon " sizes="152x152 " href="/apple-icon-152x152.png ">
  <link rel="apple-touch-icon " sizes="180x180 " href="/apple-icon-180x180.png ">
  <link rel="icon " type="image/png " sizes="192x192 " href="/android-icon-192x192.png ">
  <link rel="icon " type="image/png " sizes="32x32 " href="/favicon-32x32.png ">
  <link rel="icon " type="image/png " sizes="96x96 " href="/favicon-96x96.png ">
  <link rel="icon " type="image/png " sizes="16x16 " href="/favicon-16x16.png ">
  <link rel="manifest " href="/manifest.json ">
  <meta name="msapplication-TileColor " content="#ffffff ">
  <meta name="msapplication-TileImage " content="/ms-icon-144x144.png ">
  <meta name="theme-color " content="#ffffff ">
  <link href="https://fonts.googleapis.com/css?family=Roboto " rel="stylesheet ">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons " rel="stylesheet ">
  <link rel="stylesheet " href="/css/spectre.min.css ">
  <link rel="stylesheet " href="/css/spectre-exp.min.css ">
  <link rel="stylesheet " href="/css/spectre-icons.min.css ">
  <link rel="stylesheet " href="/css/main.css ">
  <meta property="og:url " content="https://www.your-domain.com/your-page.html " />
  <meta property="og:type " content="website " />
  <meta property="og:title " content="Xappia GIF " />
  <meta property="og:description " content="Watch how xappia changed my life " />
  <meta property="og:image " content="https://s3-us-west-2.amazonaws.com/xappia-demo/{{gif}} " />
  <title>Xappia: ¡GIF!</title>
</head>

<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <div class="container">
    <div id="center-img">
      <div class="franja-container">
        <img class="xappia-img" src="/img/franjas2.png" alt="">
        <img class="xappia-img gif-image" src="https://s3-us-west-2.amazonaws.com/xappia-demo/{{gif}}" alt="">
      </div>
      {{!--
      <img class="xappia-img" src="/img/gif_header.png" alt="">
      <div id="gif-overlay">

        <img class="xappia-img" src="/img/gif_center.png" alt="">
      </div>
      <img class="xappia-img" src="/img/gif_footer.png" alt=""> --}}
    </div>
  </div>
  <script>
    const children = [...document.getElementsByClassName('xappia-img')];
    children.map((e) => {
      e.onclick = () => {
        const link = document.createElement("a");
        link.download = 'Xappia.gif';
        link.href = 'https://s3-us-west-2.amazonaws.com/xappia-demo/{{gif}}';
        link.click();
      }
    });
  </script>

</body>

</html>